encodingAESKey = "abcdefghijklmnopqrstuvwxyz0123456789ABCDEFG"
token = "spamtest"
appid = "wx2c2769f8efd9abc2"

ENCODINGAESKEY = "5c99b1a09ea2ea68c824dad85c9441b09ea2ea66a1e"
TOKEN = "5c99b1adb60c48238d6d9f48"
WXAPPID = "w12d412873daasda"

# 使用刷新令进行刷新微信令牌的URL
URL_REFRESHTOKEN = "http://127.0.0.1:8979/wx_service/refreshtoken"
#

MINI_APP_ID = "wxacd37ff25cd2ed6a"
URL_GET_ACCESS_TOKEN = "https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&appid={}&secret={}"
URL_POST_SEND_TEMPLATE_MSG = "https://api.weixin.qq.com/cgi-bin/message/template/send?access_token={}"
URL_GET_TEMPLATE_LIST = "https://api.weixin.qq.com/cgi-bin/template/get_all_private_template?access_token={}"
URL_GET_OPENID_LIST = "https://api.weixin.qq.com/cgi-bin/user/get?access_token={}&next_openid={}"
URL_GET_USER_S_INFO = "https://api.weixin.qq.com/cgi-bin/user/info?access_token={}&openid={}&lang=zh_CN"
URL_POST_BIND = "https://api.weixin.qq.com/cgi-bin/open/bind?access_token={}"
URL_POST_CREATE_MENU = " https://api.weixin.qq.com/cgi-bin/menu/create?access_token={}"
URL_GET_MENU = "https://api.weixin.qq.com/cgi-bin/menu/get?access_token={}"
URL_GET_CUR_SELF_MENU = "https://api.weixin.qq.com/cgi-bin/get_current_selfmenu_info?access_token={}"
URL_SEND_CUSTOM = "https://api.weixin.qq.com/cgi-bin/message/custom/send?access_token={}"
URL_GET_QRCODE_TICKET = "https://api.weixin.qq.com/cgi-bin/qrcode/create?access_token={}"
URL_GET_JSAPI_TICKET = "https://api.weixin.qq.com/cgi-bin/ticket/getticket?access_token={}&type=jsapi"
URL_TRACK = "https://emmm.zuasdhakqcheg.com/track"
MAP_TEMP_APPID = {
    "waa111asdw43f3b5": "5c99b1a09ea2ea68c824dad8",
    "sa2wddcscsb31469": "5c9441b09ea2ea66a1ea2266",
    "wx2443f568953bef3e": "5c921a299ea2ea66a1ea2264",
    "wxa10fe7fdfab50453": "5d21e7dw",
    "wx89521qasdadqw": "5cddqd352215",
    "wx12e2asf21cfsda": "5cdqw12b6dwqb",
    "wxd2dbc714520df43a": "5cfe42899ea2ea0e1031f375",
    "2dewecbd47a141ec": "5d0375a4b60c4asdwq0d1343",
}
HOS_CONFIG_DICT = {}
